<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="$dismiss()"><span aria-hidden="true">&times;</span></button>
	<h4 class="modal-title" id="myModalLabel">Error</h4>
</div>
<div class="modal-body">
	<p>An error was encountered.</p>
	<p>Try reloading the page or launch the request again.</p>
	<p>If the problem persists, please <a href="https://github.com/RedGlow/TheLegendaryQuest/issues/new"
	target="_blank">open
	a bug report</a> and possibly <a href="mailto:mattia.belletti@gmail.com?subject=API key for bug #&lt;INSERT BUG NUMBER&gt;">send me an email with your API
	key and a reference to the bug you opened</a> at <em>mattia.belletti@gmail.com</em>.</p>
	<p>
		<button class="btn btn-default" role="button" ng-click="toggleDetails()">
			<span class="bug-button glyphicon" ng-class="{'glyphicon-folder-close': openedDetails, 'glyphicon-folder-open': !openedDetails}"></span>
			<span ng-if="!openedDetails">Open details</span>
			<span ng-if="openedDetails">Close details</span>
		</button>
	</p>
	<pre ng-if="openedDetails">
Status: {{ error.status }}
Status text: {{ error.statusText }}
Config: {{ error.config | json }}
Data: {{ error.data | json }}
	</pre>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="$dismiss()">Close</button>
</div>