/**
 * PAGE
 */
 
body {
	background-image: url("img/guardianlogo.png");
	background-repeat: no-repeat;
}

footer {
	margin-top: 5em;
}

/**
 * GENERAL BODY SETUP
 */

form {
	margin-top: 1em;
}

@font-face
{
	font-family: 'EasonPro'; src: url('https://d1h9a8s8eodvjz.cloudfront.net//fonts/eason/v1/easonpro-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face
{
	font-family: 'EasonPro'; src: url('https://d1h9a8s8eodvjz.cloudfront.net//fonts/eason/v1/easonpro-italic-webfont.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}

@font-face
{
	font-family: 'EasonPro'; src: url('https://d1h9a8s8eodvjz.cloudfront.net//fonts/eason/v1/easonpro-bold-webfont.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face
{
	font-family: 'CronosPro'; src: url('https://d1h9a8s8eodvjz.cloudfront.net//fonts/cronos/v1/cronospro-regular-webfont.woff') format('woff');
	font-weight:normal;
	font-style:normal;
}

@font-face
{
	font-family: 'CronosPro'; src: url('https://d1h9a8s8eodvjz.cloudfront.net//fonts/cronos/v1/cronospro-italic-webfont.woff') format('woff');
	font-weight:normal;
	font-style:italic;
}

@font-face
{
	font-family: 'CronosPro'; src: url('https://d1h9a8s8eodvjz.cloudfront.net//fonts/cronos/v1/cronospro-semibold-webfont.woff') format('woff');
	font-weight:bold;
	font-style:normal;
}

@font-face
{
	font-family: 'CronosPro'; src: url('https://d1h9a8s8eodvjz.cloudfront.net//fonts/cronos/v1/cronospro-semibolditalic-webfont.woff') format('woff');
	font-weight:bold;
	font-style:italic;
}

/**
 * HEADINGS
 **/

h1 {
	text-transform: uppercase;
}

.running-requests {
	text-align: right;
	position: fixed;
	z-index: 1;
	width: 100%;
	margin-top: 20px;
}

.running-requests .content {
	margin-right: 30px;
}

.running-requests .content .text {
	display: none;
}

h1 {
	padding-right: 40px;
}

@media (min-width: 768px) {
	.running-requests {
		text-align: right;
		width: 750px;
		margin-bottom: 0;
	}
	.running-requests .content .text {
		display: inline;
	}
	h1 {
		padding-right: 0;
	}
}
@media (min-width: 992px) {
	.running-requests {
		width: 970px;
	}
}
@media (min-width: 1200px) {
	.running-requests {
		width: 1170px;
	}
}

/**
 * FORM
 */
 
.helper-btn {
	padding-left: 0;
	padding-right: 0;
}

/**
 * PRICES
 */
 
.copper-value {
	white-space: nowrap;
}

.currency {
	padding-right: 16px;
	background-repeat: no-repeat;
	background-position: right;
}

.currency.gold {
	background-image: url('http://www.gw2spidy.com/assets/v20130214v1/img/gold.png');
}

.currency.silver {
	background-image: url('http://www.gw2spidy.com/assets/v20130214v1/img/silver.png');
}

.currency.copper {
	background-image: url('http://www.gw2spidy.com/assets/v20130214v1/img/copper.png');
}

.currency.karma {
    background-image: url('http://www.gw2spidy.com/assets/img/Karma.png');
}

.currency.deadly_bloom {
    background-image: url('http://wiki.guildwars2.com/images/thumb/b/b6/Deadly_Bloom.png/20px-Deadly_Bloom.png');
	padding-right: 20px;
}

.currency.badge_of_honor {
    background-image: url('http://wiki.guildwars2.com/images/thumb/3/3b/Badge_of_Honor.png/20px-Badge_of_Honor.png');
	padding-right: 20px;
}

.currency.spirit_shard {
    background-image: url('http://wiki.guildwars2.com/images/thumb/6/63/Spirit_Shard.png/20px-Spirit_Shard.png');
	padding-right: 20px;
}

.currency.shard_of_zhaitan {
    background-image: url('http://wiki.guildwars2.com/images/thumb/b/ba/Shard_of_Zhaitan.png/20px-Shard_of_Zhaitan.png');
	padding-right: 20px;
}

.currency.ascalonian_tear {
    background-image: url('http://wiki.guildwars2.com/images/thumb/b/b8/Ascalonian_Tear.png/20px-Ascalonian_Tear.png');
	padding-right: 20px;
}

.currency.symbol_of_koda {
    background-image: url('http://wiki.guildwars2.com/images/thumb/a/a7/Symbol_of_Koda.png/20px-Symbol_of_Koda.png');
	padding-right: 20px;
}

.currency.flame_legion_charr_carving {
    background-image: url('http://wiki.guildwars2.com/images/thumb/e/ec/Flame_Legion_Charr_Carving.png/20px-Flame_Legion_Charr_Carving.png');
	padding-right: 20px;
}

.currency.manifesto_of_the_moletariate {
    background-image: url('http://wiki.guildwars2.com/images/thumb/9/91/Manifesto_of_the_Moletariate.png/20px-Manifesto_of_the_Moletariate.png');
	padding-right: 20px;
}

.currency.knowledge_crystal {
    background-image: url('http://wiki.guildwars2.com/images/thumb/5/55/Knowledge_Crystal.png/20px-Knowledge_Crystal.png');
	padding-right: 20px;
}

.currency.seal_of_beetletun {
    background-image: url('http://wiki.guildwars2.com/images/thumb/d/d2/Seal_of_Beetletun.png/20px-Seal_of_Beetletun.png');
	padding-right: 20px;
}

#costs .items li{
	list-style: none;
	display: inline-block;
}

/* ITEMS AND ITEM TABLES */

.cost-item-img {
	width: 1.5em;
}

.item-data {
	margin-top: 10px;
	margin-bottom: 10px;
	background: linear-gradient(to left, #eeeeee, #fafafa);
	background-color: #eee;
}

.item-data:hover {
	background: #eee;
}

@keyframes expansion-animation {
	0%, 100% {
		color: white;
		transform: scale(1, 1);
	}
	50% {
		color: #dc241f;
		transform: scale(1.3, 1.3);
	}
}

.item-data:hover .glyphicon-plus-sign,
.item-data:hover .glyphicon-minus-sign {
	animation: expansion-animation 1s ease-in-out;
}

.recipe-container .item-data:hover .glyphicon-plus-sign,
.recipe-container .item-data:hover .glyphicon-minus-sign {
	animation: none;
}

.item-data .img-container img {
	transition: filter 0.5s, -webkit-filter 0.5s;
}

.item-data:hover .img-container img {
	filter: brightness(1.4);
	-webkit-filter: brightness(1.4);
}

.item-data .img-col {
	padding-right: 0;
}

.item-data .img-col .arrow {
	z-index: 1;
	color: white;
	position: absolute;
	bottom: 0;
	right: 2px;
	line-height: 1;
	cursor: pointer;
}

.item-data .img-col {
	padding-left: 0;
}

.item-data .img-container {
	position: relative;
	max-width: 64px;
	font-size: 2vw;
}

@media (min-width: 768px) {
	.item-data  .img-container {
		font-size: 14px;
	}
}

.item-data .img {
	cursor: pointer;
	width: 100%;
}

.item-data .recipe-amount {
    width: 2.1em;
    display: inline-block;
}

.item-data .name {
	font-weight: bold;
}

@media (min-width: 768px) {
	.item-data .site-links {
		text-align: right;
	}
}

.item-data .amount {
    position: relative;
    height: 1.3em;
	top: 0.15em;
    border-radius: 4px;
    background-color: white;
    vertical-align: top;
	width: 100%;
	margin-bottom: 0.45em;
}

.item-data .amount .percentage-bar {
    position: absolute;
    height: 100%;
    background-color: #eee;
	background: linear-gradient(to bottom, #eee, #ccc);
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

.item-data .amount .percentage-text {
    position: absolute;
    margin-left: 3px;
}

.item-data .single-cost {
}

.item-data .trading-post {
}

.item-data .single-cost {
	margin-right: 1em;
	display: inline;
}

.recipe-container {
	height: 0;
	overflow: hidden;
}

.recipe {
	white-space: nowrap;
}

li.recipe-element {
	vertical-align: top;
	list-style: none;
}

/* RESULTS */

.results-row {
	overflow-x: auto;
}

/* ERROR DIALOG */

.bug-button {
	margin-right: 0.5em;
}